In [4]:
import pandas as pd
df = pd.read_excel ('data-bearing-simple.xlsx', index_col =0)
display ( df ) # visualiza dataframe
X = df.values [: , 'rps' : 'kurt' ] # valores a b segun corresponda
y = df.values [: , 'label' ] # valor c segun corresponda

            rps       max       rms      kurt  label
0     15.024038  0.311521  0.029794  7.642549      1
1     15.024038  0.216155  0.022242  6.541628      1
2     15.024038  0.255288  0.028959  9.691690      1
3     15.988251  0.323688  0.030494  8.147744      1
4     16.276042  0.210893  0.024360  6.408226      1
...         ...       ...       ...       ...    ...
1795  15.024038  0.032001  0.008162  0.545736      2
1796  15.024038  0.030685  0.007978  0.637705      2
1797  15.024038  0.034960  0.008167  0.576496      2
1798  14.551837  0.031014  0.008032  0.468465      2
1799  13.950893  0.038906  0.007807  0.701163      2

[1800 rows x 5 columns]

TypeError: slice indices must be integers or None or have an __index__ method