In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 

df = pd.read_excel ('uw-vehicle-1.xlsx')
X = np.transpose(np.transpose(df)[1:17])
Y = np.transpose(np.transpose(df)[17:18])

       label
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
17858    1.0
17859    1.0
17860    1.0
17861    1.0
17862    1.0

[17863 rows x 1 columns]